In [1]:
import torch
print(torch.__version__)

2.3.1+cu121

In [13]:
import pandas as pd
import numpy as np
import data_work

data=pd.read_csv("pca.csv")
data=data.drop("Unnamed: 0",axis=1)

In [14]:
data

,Target,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,2,-3.227442,3.623462,-3.518770,1.647767,1.919065,-0.604967,-0.700347,-1.383422,0.462842,-0.485182,-0.289933,0.482988,-0.264659,0.180296,-0.026833,0.136735
1,2,-2.153681,-4.995571,2.280726,0.658663,4.630375,1.508473,1.111974,0.364459,0.390088,0.337705,-0.389267,1.179507,2.372615,-0.149782,1.014216,0.011796
2,0,6.952544,2.788518,0.845397,2.658899,-0.393515,0.008286,-1.157555,3.721536,-0.155376,4.065462,-0.661878,-1.676188,0.465089,-2.221053,-0.652944,-0.583872
3,1,-0.221666,-2.236775,-2.092082,0.188481,-1.616459,3.105127,2.938922,-1.981830,-4.687964,0.546906,0.114948,-1.279641,0.713472,-0.011543,-0.182976,-0.838924
4,2,-1.344174,-4.242644,0.268881,-0.557006,1.173350,-0.089336,-0.061116,-0.550773,0.191786,0.315702,0.128453,0.252563,0.181401,-0.732279,0.547377,0.402242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261533,0,5.608351,1.127087,-0.458629,-0.989226,0.038547,0.168162,-0.109319,0.529503,0.231805,-0.423401,0.861013,0.472000,-0.033785,0.201076,-0.525767,-0.406536
261534,2,-6.464639,5.351527,3.554163,-3.344202,-0.514653,-1.410879,1.169521,1.955731,-0.820576,-0.085948,0.209744,1.732782,-1.172415,-0.569494,-0.738653,0.308730
261535,2,-0.843823,-3.608118,-0.383222,-0.286574,-0.417274,-1.003410,-0.346122,-0.736675,0.178350,1.045505,0.092450,-0.015635,0.126455,-0.817593,0.323128,0.277472
261536,2,0.627391,-1.896258,-1.418630,-0.732453,-1.097661,0.374180,1.400047,-0.084419,0.629819,-0.527325,-1.033112,-0.445519,0.603182,0.818126,-1.191142,-0.140995
261537,0,8.285915,2.716343,0.726772,-1.528650,0.894227,0.140500,-0.845805,-0.324462,-0.205815,-0.117451,-0.316862,-0.028155,-0.118412,-0.123474,0.633175,-0.254557

In [15]:
data_work.count_label_data(data["Target"])

Counter({2: 143328, 0: 59362, 3: 27530, 4: 16274, 1: 15044})

In [16]:
from sklearn.model_selection import train_test_split 
import torch
traindata,test_data=train_test_split(data,test_size=0.4,random_state=42,stratify=data['Target'])
data = traindata.reset_index(drop=True)
test_data = test_data.sample(frac=1).reset_index(drop=True)
client_data,server_data=train_test_split(traindata,test_size=0.03,random_state=22520540,stratify=data['Target'])
client_data = client_data.sample(frac=1).reset_index(drop=True)
server_data = server_data.sample(frac=1).reset_index(drop=True)
print(f"server data quantity {len(server_data)}")
trainloaders,testloaders=data_work.data_split(client_data,"Target", 16,0.01,False)

server data quantity 4708
prepairing non IID dataset
len of client data :152208, len of each subdata : 9513
client number 1 : train(9418), val(95)
client number 2 : train(9418), val(95)
client number 3 : train(9418), val(95)
client number 4 : train(9418), val(95)
client number 5 : train(9418), val(95)
client number 6 : train(9418), val(95)
client number 7 : train(9418), val(95)
client number 8 : train(9418), val(95)
client number 9 : train(9418), val(95)
client number 10 : train(9418), val(95)
client number 11 : train(9418), val(95)
client number 12 : train(9418), val(95)
client number 13 : train(9418), val(95)
client number 14 : train(9418), val(95)
client number 15 : train(9418), val(95)
client number 16 : train(9418), val(95)

In [20]:
trainloaders[4]

,Target,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1,-3.391231,3.895373,-3.559767,1.090195,2.600176,-2.406223,-0.217925,-0.568558,-0.647894,-0.959258,-0.163785,-0.365146,0.356989,0.124817,-0.051551,0.072695
1,1,-3.214561,3.954524,-3.510651,1.060480,2.508708,-2.378349,-0.220892,-0.516421,-0.654675,-1.007942,-0.167545,-0.382140,0.334194,0.205460,-0.157057,0.035436
2,2,-0.017058,-2.493613,0.169121,0.632930,-1.750252,-0.432204,-0.318152,0.317518,-0.616846,-1.683992,-1.040314,0.300660,-0.619016,-0.525485,-0.221322,-0.151685
3,1,-3.185857,3.994206,-3.503330,1.021238,2.492588,-2.358381,-0.184534,-0.477517,-0.630187,-1.016816,-0.078585,-0.370163,0.335084,0.239637,-0.284614,0.114150
4,1,0.568800,-2.157110,-1.614755,-0.388452,-1.181981,0.424518,1.378932,0.231573,0.456414,-0.947670,-1.687647,-0.619092,0.345124,0.612559,-0.236220,-0.743843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9413,1,-3.738507,4.148251,-4.014198,1.507649,1.940848,0.410171,1.563100,-2.301082,-5.809463,0.128676,1.503269,-1.073338,0.465813,-0.298994,-0.149811,-0.104421
9414,1,-2.623729,3.793320,-3.579921,4.315428,0.541120,2.665768,-2.144196,-1.565483,2.382493,1.118058,-0.374158,1.730211,-1.609329,0.107836,0.184475,0.092912
9415,1,-5.512208,5.034674,0.470412,-3.960982,0.425702,-0.905510,2.657222,1.184894,0.070998,0.554707,-1.797086,0.440380,-0.675126,0.436381,0.840954,-2.324031
9416,2,0.191368,-2.430329,-0.351913,0.276448,-1.626691,0.085509,0.210038,0.515230,-0.489499,-2.538140,-1.392915,0.641842,-0.444527,-0.506120,0.781403,-0.283798
9417,1,0.521274,-1.235950,-1.274079,-1.107258,-2.552814,1.844654,2.254300,2.292980,1.140925,-1.573463,-0.714699,-1.483563,0.468128,0.899377,-0.489424,3.678961

In [21]:
server_data.to_csv("./dataset/server_data.csv")
test_data.to_csv("./dataset/test_data.csv")
for i in range(16):
    trainloaders[i] = trainloaders[i].sample(frac=1).reset_index(drop=True)
    trainloaders[i].to_csv(f"./dataset/trainloader_{i}.csv")
    testloaders[i]= testloaders[i].sample(frac=1).reset_index(drop=True)
    testloaders[i].to_csv(f"./dataset/testloader_{i}.csv")

In [22]:
len(server_data)

4708

In [26]:
te=pd.read_csv("./dataset/trainloader_15.csv", index_col=0)

In [27]:
te

,Target,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,4,-3.059786,4.049743,-3.520729,1.032071,2.378754,-2.259640,-0.145097,-0.309722,-0.645525,-1.211583,-0.233416,-0.411780,0.204617,0.249021,-0.136402,-0.061853
1,4,-3.711853,2.763766,-1.863066,0.212156,-0.147032,2.279096,-0.003476,-2.134837,2.481468,-0.738328,-1.261035,-1.813709,1.052089,0.511140,-0.936963,2.241226
2,4,-2.827664,3.487905,-3.463371,1.899986,1.212460,0.716857,-0.942100,-1.778643,1.066129,-0.664519,-1.012661,1.015836,-1.139335,0.311678,0.437802,-0.482706
3,4,-2.191643,2.887885,-3.621660,3.283746,-0.832367,6.318112,-0.032740,-4.520061,-2.401670,1.454124,0.795685,1.521093,-1.597208,0.069680,0.104840,-0.177103
4,4,-3.394664,4.706913,-3.650776,2.767671,2.479362,-2.497023,-0.742231,0.924941,-0.742925,-0.076689,0.106384,-0.826317,0.052779,-0.202275,-0.154951,-0.132531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9413,4,-3.378578,3.783722,-3.574804,1.080660,2.419355,-2.188101,-0.100022,-0.292401,-0.581431,-1.107988,-0.191935,-0.406399,0.276977,0.067760,0.154461,0.248272
9414,4,0.936215,-0.974784,-2.271690,0.620075,-1.744250,1.025161,0.819173,2.508894,0.407976,-1.485281,0.108371,0.003355,0.005896,0.116907,1.129564,1.382274
9415,4,0.221969,-2.383139,-0.293652,0.308484,-1.696678,0.084667,0.200645,0.578953,-0.503299,-2.568142,-1.397997,0.620088,-0.502950,-0.505406,0.709328,-0.283494
9416,4,0.525695,-2.193593,-1.692065,-0.320998,-1.387209,0.648269,1.481529,0.585002,0.461923,-1.279342,-2.004360,-0.754050,0.140312,0.510823,0.296543,-0.842871
9417,4,-6.718082,4.816733,2.572901,-3.734865,0.075103,-0.768462,1.518508,1.890127,-0.478962,-0.243692,-0.165088,1.437181,-0.792807,-0.771137,1.353481,0.853650

##### te=pd.read_csv("./data/trainloader_9.csv", index_col=0)

In [19]:
te

,subcategory,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,...,max,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category
0,5,15713,14548,0,5,7,50692,34,6889,1,...,122,0,1,1,2,58915,0,0,1,3
1,5,9473,8526,0,1,10,5,28,258,0,...,0,0,0,6,0,0,0,0,1,3
2,5,18446,16842,0,5,5,45878,34,2623,1,...,108,0,1,1,2,58969,0,0,1,3
3,5,30543,28204,0,5,6,14179,34,6855,3,...,5158,1,2,41,14,55711,44641,36765,1,3
4,5,26598,24951,0,5,5,15885,34,1212,1,...,67,0,1,1,2,59176,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9380,5,29643,27568,0,5,8,15683,34,7112,2,...,5140,1,1,41,2,54528,44657,0,1,3
9381,5,43908,39397,0,1,13,5,30,1096,0,...,0,0,0,6,0,0,0,0,1,3
9382,5,9654,8707,0,1,10,5,28,924,0,...,0,0,0,6,0,0,0,0,1,3
9383,6,253920,204540,10,5,6,7338,34,6775,1,...,0,1,0,121,0,3670,5719,0,1,0
9384,6,218139,169510,8,5,5,58000,34,6775,5,...,29480,3,2,174,14,31803,27144,7235,1,0

In [4]:
import sys
sys.path.append("DL_model_batch.py")