In [2]:
import sys
sys.path.append("FL.py")
sys.path.append("DL_modeL.py")
sys.path.append("DL_model_batch.py")
sys.path.append("data_work.py")

In [1]:
import pandas as pd
import numpy as np
import data_work

data=pd.read_csv("../../data/processed_20k.csv")
data

,subcategory,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,...,max,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category
0,7,188809,130743,0,6,5,12626,37,6775,5,...,50611,5,0,142,0,17552,25490,0,1,1
1,6,243306,194056,10,5,8,47412,34,6775,1,...,0,1,0,121,0,2373,3683,0,1,0
2,7,143289,99255,0,6,5,51883,37,6775,5,...,48186,5,0,142,0,13025,21877,0,1,1
3,4,85020,74004,0,5,5,56325,40,3137,1,...,296,0,1,1,2,58423,0,0,1,3
4,1,130584,153341,0,5,10,58481,28,4782,2,...,13833,0,2,5,16,1201,0,278,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260602,6,256290,206910,10,5,8,58871,34,6775,1,...,0,1,0,121,0,2438,3722,0,1,0
260603,5,22173,20523,0,5,5,41366,34,3031,12,...,27201,6,6,250,181,48611,40558,33850,1,3
260604,7,147386,102715,11,6,7,21276,39,6775,4,...,54385,4,0,119,0,9595,17113,0,1,1
260605,6,254103,204723,10,5,8,58341,34,6775,1,...,0,1,0,121,0,2447,3731,0,1,0
260606,5,360,362,0,5,8,23509,34,1348,1,...,73,0,1,1,2,59149,0,0,1,3

In [3]:
data_work.count_label_data(data["subcategory "])

Counter({7: 50000,
         6: 50000,
         4: 50000,
         5: 50000,
         1: 49477,
         3: 9543,
         2: 1469,
         0: 118})

In [4]:
from sklearn.model_selection import train_test_split 
import torch
traindata,test_data=train_test_split(data,test_size=0.4,random_state=42,stratify=data['subcategory '])
data = traindata.reset_index(drop=True)
test_data = test_data.sample(frac=1).reset_index(drop=True)
client_data,server_data=train_test_split(traindata,test_size=0.03,random_state=22520540,stratify=data['subcategory '])
client_data = client_data.sample(frac=1).reset_index(drop=True)
server_data = server_data.sample(frac=1).reset_index(drop=True)
print(f"server data quantity {len(server_data)}")
trainloaders,testloaders=data_work.data_split(client_data,"subcategory ", 16,0.01,False)

server data quantity 4691
prepairing non IID dataset
len of client data :151664, len of each subdata : 9479
client number 1 : train(9385), val(94)
client number 2 : train(9385), val(94)
client number 3 : train(9385), val(94)
client number 4 : train(9385), val(94)
client number 5 : train(9385), val(94)
client number 6 : train(9385), val(94)
client number 7 : train(9385), val(94)
client number 8 : train(9385), val(94)
client number 9 : train(9385), val(94)
client number 10 : train(9385), val(94)
client number 11 : train(9385), val(94)
client number 12 : train(9385), val(94)
client number 13 : train(9385), val(94)
client number 14 : train(9385), val(94)
client number 15 : train(9385), val(94)
client number 16 : train(9385), val(94)

In [5]:
server_data.to_csv("../../data/16_clients_dataset/server_data.csv")
test_data.to_csv("../../data/16_clients_dataset/test_data.csv")
for i in range(16):
    trainloaders[i] = trainloaders[i].sample(frac=1).reset_index(drop=True)
    trainloaders[i].to_csv(f"../../data/16_clients_dataset/trainloader_{i}.csv")
    testloaders[i]= testloaders[i].sample(frac=1).reset_index(drop=True)
    testloaders[i].to_csv(f"../../data/16_clients_dataset/testloader_{i}.csv")

In [34]:
len(server_data)

4691

In [27]:
te=pd.read_csv("./data_extend/trainloader_9.csv", index_col=0)

In [28]:
te

,subcategory,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,...,max,spkts,dpkts,sbytes,dbytes,rate,srate,drate,category,attack
0,5,173844,232207,0,5,6,68567,34,48048,1,...,290,0,1,1,2,150000,0,0,3,1
1,5,21751,20100,0,5,8,94761,34,30245,12,...,75128,6,6,277,226,123314,76037,45417,3,1
2,5,445180,407299,0,5,8,73032,34,15579,1,...,47,0,1,1,2,153106,0,0,3,1
3,5,12734,11787,12,6,8,58967,34,14711,0,...,2,0,0,1,0,0,0,0,3,1
4,5,63460,57328,0,6,7,75027,37,68186,0,...,0,0,0,1,0,0,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42991,5,413768,378390,0,5,7,104553,34,27998,1,...,12860,0,1,1,2,127793,0,0,3,1
42992,5,62688,56556,0,1,13,6,30,1477,0,...,0,0,0,6,0,0,0,0,3,1
42993,5,117574,106823,0,5,5,95133,40,40551,1,...,641,0,1,1,2,147801,0,0,3,1
42994,5,475026,437145,0,5,6,4870,34,79301,1,...,15,0,1,1,2,153548,0,0,3,1
42995,5,278786,297404,0,5,8,102909,34,47066,1,...,39791,0,1,1,2,94997,0,0,3,1

In [18]:
te=pd.read_csv("./data/trainloader_9.csv", index_col=0)

In [19]:
te

,subcategory,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,...,max,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category
0,5,15713,14548,0,5,7,50692,34,6889,1,...,122,0,1,1,2,58915,0,0,1,3
1,5,9473,8526,0,1,10,5,28,258,0,...,0,0,0,6,0,0,0,0,1,3
2,5,18446,16842,0,5,5,45878,34,2623,1,...,108,0,1,1,2,58969,0,0,1,3
3,5,30543,28204,0,5,6,14179,34,6855,3,...,5158,1,2,41,14,55711,44641,36765,1,3
4,5,26598,24951,0,5,5,15885,34,1212,1,...,67,0,1,1,2,59176,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9380,5,29643,27568,0,5,8,15683,34,7112,2,...,5140,1,1,41,2,54528,44657,0,1,3
9381,5,43908,39397,0,1,13,5,30,1096,0,...,0,0,0,6,0,0,0,0,1,3
9382,5,9654,8707,0,1,10,5,28,924,0,...,0,0,0,6,0,0,0,0,1,3
9383,6,253920,204540,10,5,6,7338,34,6775,1,...,0,1,0,121,0,3670,5719,0,1,0
9384,6,218139,169510,8,5,5,58000,34,6775,5,...,29480,3,2,174,14,31803,27144,7235,1,0

In [4]:
import sys
sys.path.append("DL_model_batch.py")