In [7]:
import pandas as pd
import numpy as np
import data_work

data=pd.read_csv("ciciot2023_processed.csv")
data

,label,flow_duration,Header_Length,Protocol Type,Duration,Rate,Srate,Drate,fin_flag_number,syn_flag_number,...,AVG,Std,Tot size,IAT,Number,Magnitue,Radius,Covariance,Variance,Weight
0,1,0,0,21,731,447969,447969,0,0,0,...,0,0,0,531338,81,2,0,0,0,92
1,5,0,3617,327,731,273023,273023,0,0,1,...,29950,0,1125,806227,81,29493,0,0,0,92
2,6,0,3617,327,731,94436,94436,0,0,0,...,29950,0,1125,202790,81,29493,0,0,0,92
3,6,0,3617,327,731,457332,457332,0,0,0,...,29950,0,1125,274568,81,29493,0,0,0,92
4,5,286179,8638,327,731,241690,241690,0,0,1,...,29950,0,1125,804004,81,29493,0,0,0,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956559,0,398598,64916,647,340,599737,599737,0,0,0,...,94366,101317,7601,9684,9,92252,96520,90603,256,9
956560,11,0,0,2507,731,413708,413708,0,0,0,...,119964,0,18006,908890,81,117024,0,0,0,92
956561,4,0,3617,327,731,11892,11892,0,0,1,...,29950,0,1125,340906,81,29493,0,0,0,92
956562,10,162555,111870,1373,1022,737314,737314,0,0,0,...,20168,37224,771,148310,81,19579,33831,27515,158,92
956563,4,88396,4163,327,731,257468,257468,0,0,1,...,48976,24901,1183,344858,81,47031,22110,19765,124,92

In [3]:
data_work.count_label_data(data["label"])

Counter({1: 154230,
         7: 115928,
         6: 96337,
         2: 87707,
         4: 86945,
         3: 86647,
         5: 77070,
         10: 71082,
         9: 57220,
         8: 43456,
         0: 23522,
         11: 21245,
         13: 19075,
         12: 16100})

In [4]:
from sklearn.model_selection import train_test_split 
import torch
traindata,test_data=train_test_split(data,test_size=0.4,random_state=42,stratify=data['label'])
data = traindata.reset_index(drop=True)
test_data = test_data.sample(frac=1).reset_index(drop=True)
client_data,server_data=train_test_split(traindata,test_size=0.03,random_state=22520540,stratify=data['label'])
client_data = client_data.sample(frac=1).reset_index(drop=True)
server_data = server_data.sample(frac=1).reset_index(drop=True)
print(f"server data quantity {len(server_data)}")
trainloaders,testloaders=data_work.data_split(client_data,"label", 16,0.01,False)

server data quantity 17219
prepairing non IID dataset
len of client data :556704, len of each subdata : 34794
client number 1 : train(34447), val(347)
client number 2 : train(34447), val(347)
client number 3 : train(34447), val(347)
client number 4 : train(34447), val(347)
client number 5 : train(34447), val(347)
client number 6 : train(34447), val(347)
client number 7 : train(34447), val(347)
client number 8 : train(34447), val(347)
client number 9 : train(34447), val(347)
client number 10 : train(34447), val(347)
client number 11 : train(34447), val(347)
client number 12 : train(34447), val(347)
client number 13 : train(34447), val(347)
client number 14 : train(34447), val(347)
client number 15 : train(34447), val(347)
client number 16 : train(34447), val(347)

In [5]:
server_data.to_csv("./dataset/server_data.csv")
test_data.to_csv("./dataset/test_data.csv")
for i in range(16):
    trainloaders[i] = trainloaders[i].sample(frac=1).reset_index(drop=True)
    trainloaders[i].to_csv(f"./dataset/trainloader_{i}.csv")
    testloaders[i]= testloaders[i].sample(frac=1).reset_index(drop=True)
    testloaders[i].to_csv(f"./dataset/testloader_{i}.csv")

In [6]:
len(server_data)

17219

In [4]:
import pandas as pd
te=pd.read_csv("./dataset/trainloader_15.csv", index_col=0)

In [8]:
data_work.count_label_data(te["label"])

Counter({11: 12244, 13: 10983, 12: 9274, 10: 1946})

In [18]:
te=pd.read_csv("./data/trainloader_9.csv", index_col=0)

In [19]:
te

,subcategory,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,...,max,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category
0,5,15713,14548,0,5,7,50692,34,6889,1,...,122,0,1,1,2,58915,0,0,1,3
1,5,9473,8526,0,1,10,5,28,258,0,...,0,0,0,6,0,0,0,0,1,3
2,5,18446,16842,0,5,5,45878,34,2623,1,...,108,0,1,1,2,58969,0,0,1,3
3,5,30543,28204,0,5,6,14179,34,6855,3,...,5158,1,2,41,14,55711,44641,36765,1,3
4,5,26598,24951,0,5,5,15885,34,1212,1,...,67,0,1,1,2,59176,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9380,5,29643,27568,0,5,8,15683,34,7112,2,...,5140,1,1,41,2,54528,44657,0,1,3
9381,5,43908,39397,0,1,13,5,30,1096,0,...,0,0,0,6,0,0,0,0,1,3
9382,5,9654,8707,0,1,10,5,28,924,0,...,0,0,0,6,0,0,0,0,1,3
9383,6,253920,204540,10,5,6,7338,34,6775,1,...,0,1,0,121,0,3670,5719,0,1,0
9384,6,218139,169510,8,5,5,58000,34,6775,5,...,29480,3,2,174,14,31803,27144,7235,1,0

In [4]:
import sys
sys.path.append("DL_model_batch.py")